@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	display: flex;
	justify-content: center;
	align-items: start;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	font-size: 100%;
	font-family: 'Inter', sans-serif;
}

.git_search {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	position: relative;
	width: calc(25 * 1vw);
	min-width: 300px;
}

.git_search__title {
	text-align: center;
	font-weight: 900;
	margin-top: 30px;
	font-size: 32px;
}
