@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	display: flex;
	justify-content: center;
	align-items: flex-start;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	font-size: 100%;
	font-family: 'Inter', sans-serif;
}
